*.swp
*.pyc
build/
debian/files
debian/python-lxcrunner.debhelper.log
debian/python-lxcrunner.postinst.debhelper
debian/python-lxcrunner.prerm.debhelper
debian/python-lxcrunner.substvars
debian/python-lxcrunner/
lxcrunner.egg-info/
